@model MVCpatientnavigation.Models.Patient

@{

}

@using (Html.BeginForm("AddHPERecord", "Medical", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.PatientID)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.State)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.PhoneNumber)
    @Html.HiddenFor(model => model.Age)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.HPEId)

    <div class="form-group">
        @Html.LabelFor(model => model.DateHPE, new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HealthConditionHPE, new { @class = "control-label" })
        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.State)
    </div>

    <div class="form-group">

        <!--<input type="submit" value="Submit" class="btn btn-primary" />--><input type="reset" value="Reset" class="btn" />
        <a class='btn btn-primary btn-sm' onclick="location.href='@Url.Action("DisplayPatient", "Medical")'"><i class='fa fa-pencil'></i>Save record</a>
    </div>
}


<!--(a)patient datatable-->
<table id="patientTable" class="table table-striped table-bordered" style="width:100%">

    <thead>
        <tr>

            <th>HPEId</th>
            <th>DateHPE</th>
            <th>HealthConditionHPE</th>
         
        </tr>
    </thead>
</table>

<!--applying js and css into datatable-->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/DataTable/datatables.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/DataTable/datatables.min.js"></script>

    <script>

        //declare function for add new patient popup
        var Popup, dataTable;

       $(document).ready(function () {
            dataTable = $("#patientTable").DataTable({  //(a)call patienttable funtion
                "ajax": {                  //parse configuration setting for the table
                    "url": "/Medical/GetPatient", // (c)calling function getpatient from patientcontroller
                    "type": "GET",
                    "datatype": "json",
                        },
                "columns": [
                    { "data": "HPEId" },
                    { "data": "DateHPE" },
                    { "data": "HealthConditionHPE" },
                       { "data": "PatientID", "render": function (data) {
                           return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("DisplayPatient","Medical")/" + data + "')><i class='fa fa-pencil'></i>Add HPE Record</a>;

                    },

                        "orderable": false,
                        "searchable": false,
                        "width":"150px"
                    }
                    //data are binded to html table
                ],
                //add property language
                "language": {
                    "emptyTable": "No data is found. Please click on <b>Add Patient</b> button"
                }

            });

        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({

                        autoOpen: true,
                        resizeable: false,
                        title: 'Fill Patient Details',
                        height: 500,
                        width: 700,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm("Are You Sure to Delete this Patient?"))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete","Patient")/' + id,
                    success: function (data) {

                        if (data.success) {

                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                })
            }
        }

    </script>

}
