@model MVCpatientnavigation.Models.UserAccount
@{
    Layout = null;

}

<!DOCTYPE html>
<link href="~/Content/style.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 50%;
            border: 1px solid #000000;
            padding: 10px 10px;
        }

        .field-validation-error {
            color: red;
        }
    </style>
</head>
<body>

    <!--header-->
    <div class="header-w3l">
        <h1> Patient Navigation System</h1>
    </div>
    <!--//header-->

    <div id="login-div">
      
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {

                <!--MAIN-->
                <table>
                    <tr>
                        <td></td>
                        <td style="text-decoration:underline">LOG IN SYSTEM</td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(model => model.Username)
                        </td>

                        <td>
                            @Html.EditorFor(model => model.Username)
                        </td>
                    </tr>

                    <tr>
                        <td></td>
                        <td> @Html.ValidationMessageFor(model => model.Username)</td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(model => model.Password)</td>
                        <td>@Html.EditorFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td>@Html.ValidationMessageFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <label class="field-validation-error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                        <td />
                    </tr>
                    <tr>
                        <tr>
                            <tr></tr>
                            <tr></tr>
                    <tr>
                        <td>
                            <input type="submit" name="name" value="Login" />
                            <input type="reset" name="name" value="Reset" />
                        </td>
                    </tr>
                </table>
            }
        </div>
  

        <script src="~/Scripts/jquery-3.0.0.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>

</body>
</html>
